<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Deerhost Template">
    <meta name="keywords" content="Deerhost, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DEERHOST | Pricing</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas__menu__overlay"></div>
    <div class="offcanvas__menu__wrapper">
        <div class="canvas__close">
            <span class="fa fa-times-circle-o"></span>
        </div>
        <div class="offcanvas__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <nav class="offcanvas__menu mobile-menu">
            <ul>
                <li><a href="./index">Home</a></li>
                <li><a href="./about">About</a></li>
                <li class="active"><a href="./pricing">Pricing</a></li>
                <li><a href="#">Analyzing</a>
                    <ul class="dropdown">
                        <li><a sec:authorize="isAnonymous()" href="./loginForm">Create Board</a></li>
                        <li><a sec:authorize="isAuthenticated()" th:href="@{/boards/board}">Create Board</a></li>
                        <li><a sec:authorize="isAnonymous()" href="./loginForm">Board List</a></li>
                        <li><a sec:authorize="isAuthenticated()" th:href="@{/boards/list}">Board List</a></li>
                    </ul>
                </li>
                <li><a href="./contact">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <ul>
                <li><a sec:authorize="isAnonymous()" href="./loginForm"><span class="fa fa-user"></span> Login / SignUp</a></li>
                <li><a sec:authorize="isAuthenticated()" href="/member/logout"><span class="fa fa-user"></span> Logout</a></li>
            </ul>
        </div>
        <div class="offcanvas__info">
            <ul>
                <li><span class="icon_phone"></span> 02-820-0114</li>
                <li><span class="fa fa-envelope"></span> github.com/Kyeong-Won/FPAS</li>
            </ul>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="header__info">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__info-left">
                            <ul>
                                <li><span class="icon_phone"></span> 02-820-0114</li>
                                <li><span class="fa fa-envelope"></span> github.com/Kyeong-Won/FPAS</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__info-right">
                            <ul>
                                <li><a sec:authorize="isAnonymous()" href="./loginForm"><span class="fa fa-user"></span> Login / SignUp</a></li>
                                <li><a sec:authorize="isAuthenticated()" href="/member/logout"><span class="fa fa-user"></span> Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="./index">Home</a></li>
                            <li><a href="./about">About</a></li>
                            <li class="active"><a href="./pricing">Pricing</a></li>
                            <li><a href="#">Analyzing</a>
                                <ul class="dropdown">
                                    <li><a sec:authorize="isAnonymous()" href="./loginForm">Create Board</a></li>
                                    <li><a sec:authorize="isAuthenticated()" th:href="@{/boards/board}">Create Board</a></li>
                                    <li><a sec:authorize="isAnonymous()" href="./loginForm">Board List</a></li>
                                    <li><a sec:authorize="isAuthenticated()" th:href="@{/boards/list}">Board List</a></li>
                                </ul>
                            </li>
                            <li><a href="./contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__option">
                        <a href="./index"><span class="fa fa-home"></span> Home</a>
                        <span>Pricing</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Pricing Section Begin -->
    <section class="pricing-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="section-title normal-title">
                        <h3>Choose your plan</h3>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="pricing__swipe-btn">
                        <label for="month" class="active">Monthly
                            <input type="radio" id="month">
                        </label>
                        <label for="yearly">Yearly
                            <input type="radio" id="yearly">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row monthly__plans active">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pricing__item">
                        <h4>Started</h4>
                        <h3>￦150,000 <span>/ month</span></h3>
                        <ul>
                            <li>2,5 GB 용량</li>
                            <li>카메라 최대 30대</li>
                            <li>실시간 상담</li>
                            <li>유동인구 분석 정보 제공</li>
                            <li>분석 결과 관리/보안</li>
                            <li><br/></li>
                        </ul>
                        <a href="#" class="primary-btn">Choose plan</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pricing__item">
                        <h4>Business</h4>
                        <h3>￦250,000 <span>/ month</span></h3>
                        <ul>
                            <li>90 GB 용량</li>
                            <li>카메라 최대 50대</li>
                            <li>실시간 상담</li>
                            <li>유동인구 분석 정보 제공</li>
                            <li>분석 결과 관리/보안</li>
                            <li><br/></li>
                        </ul>
                        <a href="#" class="primary-btn">Choose plan</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pricing__item">
                        <h4>Premium</h4>
                        <h3>￦350,000 <span>/ month</span></h3>
                        <ul>
                            <li>150 GB 용량</li>
                            <li>카메라 최대 100대</li>
                            <li>실시간 상담</li>
                            <li>유동인구 분석 정보 제공</li>
                            <li>Heatmap 기능 제공</li>
                            <li>분석 결과 관리/보안</li>
                        </ul>
                        <a href="#" class="primary-btn">Choose plan</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pricing__item">
                        <h4>Dedicated</h4>
                        <h3>￦450,000 <span>/ month</span></h3>
                        <ul>
                            <li>용량 무제한</li>
                            <li>카메라 설치 무제한</li>
                            <li>실시간 상담</li>
                            <li>유동인구 분석 정보 제공</li>
                            <li>Heatmap 기능 제공</li>
                            <li>분석 결과 관리/보안</li>
                        </ul>
                        <a href="#" class="primary-btn">Choose plan</a>
                    </div>
                </div>
            </div>
            <div class="row yearly__plans">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pricing__item">
                        <h4>Started</h4>
                        <h3>￦1,500,000 <span>/ year</span></h3>
                        <ul>
                            <li>2,5 GB 용량</li>
                            <li>카메라 최대 30대</li>
                            <li>실시간 상담</li>
                            <li>유동인구 분석 정보 제공</li>
                            <li>분석 결과 관리/보안</li>
                            <li><br/></li>
                        </ul>
                        <a href="#" class="primary-btn">Choose plan</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pricing__item">
                        <h4>Business</h4>
                        <h3>￦2,500,000 <span>/ year</span></h3>
                        <ul>
                            <li>90 GB 용량</li>
                            <li>카메라 최대 50대</li>
                            <li>실시간 상담</li>
                            <li>유동인구 분석 정보 제공</li>
                            <li>분석 결과 관리/보안</li>
                            <li><br/></li>
                        </ul>
                        <a href="#" class="primary-btn">Choose plan</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pricing__item">
                        <h4>Premium</h4>
                        <h3>￦3,500,000 <span>/ year</span></h3>
                        <ul>
                            <li>150 GB 용량</li>
                            <li>카메라 최대 100대</li>
                            <li>실시간 상담</li>
                            <li>유동인구 분석 정보 제공</li>
                            <li>Heatmap 기능 제공</li>
                            <li>분석 결과 관리/보안</li>
                        </ul>
                        <a href="#" class="primary-btn">Choose plan</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pricing__item">
                        <h4>Dedicated</h4>
                        <h3>￦4,500,000 <span>/ year</span></h3>
                        <ul>
                            <li>용량 무제한</li>
                            <li>카메라 설치 무제한</li>
                            <li>실시간 상담</li>
                            <li>유동인구 분석 정보 제공</li>
                            <li>Heatmap 기능 제공</li>
                            <li>분석 결과 관리/보안</li>
                        </ul>
                        <a href="#" class="primary-btn">Choose plan</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing Section End -->

    <!-- Choose Plan Section Begin -->
    <section class="choose-plan-section pricing-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="img/choose-plan.png" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="plan__text">
                        <br/><br/>
                        <h3>한달 무료 이용하세요!</h3>
                        <br/>
                        <ul>
                            <li><span class="fa fa-check"></span> 30일 무료 체험판</li>
                            <li><span class="fa fa-check"></span> 무료 카메라 설치</li>
                            <li><span class="fa fa-check"></span> 최대 10대 카메라 설치</li>
                            <li><span class="fa fa-check"></span> 유동인구 분석 정보 제공</li>
                            <li><span class="fa fa-check"></span> Heatmap 기능 제공</li>
                            <li><span class="fa fa-check"></span> 연간 계약의 경우 17% 절감</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Choose Plan Section End -->

    <!-- Question Section Begin -->
    <!--<section class="question-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3>Have a questions?</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="question__accordin">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading active">
                                    <a class="active" data-toggle="collapse" data-target="#collapseOne">
                                        How do I cancel and delete my account?
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                                            ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                                            facilisis. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">
                                        Can I get my website listed in Google?
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                                            ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                                            facilisis. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">
                                        Can I run a business?
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                                            ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                                            facilisis. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">
                                        Does ArkaHost offer phone support?
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                                            ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                                            facilisis. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form action="#" class="question-form">
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Email">
                        <textarea placeholder="Question"></textarea>
                        <button type="submit" class="site-btn">Send question</button>
                    </form>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Question Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="footer__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top-call">
                            <h5>Need Help? Call us</h5>
                            <h2>02-820-0114</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top-auth">
                            <h5>Join Now And Have Free Month Of FPAS</h5>
                            <a href="/pricing" class="primary-btn sign-up">Pricing</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__text set-bg" data-setbg="img/footer-bg.png">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer__text-about">
                            <div class="footer__logo">
                                <a href="./index"><img src="img/logo.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer__text-widget">
                            <ul class="footer__widget-info">
                                <li><span class="fa fa-map-marker"></span> 서울특별시 동작구 상도동 상도로 369</li>
                                <li><span class="fa fa-headphones"></span> github.com/Kyeong-Won/FPAS</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__text-copyright">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>