<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>DEERHOST | Update Board</title>

    <!--    camera 크기 조절-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap"
          rel="stylesheet"/>
    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/elegant-icons.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/slicknav.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- camera icon -->
    <script src="https://kit.fontawesome.com/7584c36235.js" crossorigin="anonymous"></script>

    <link href="/css/common.css" rel="stylesheet" />
    <link href="/css/paint.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body id="update">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas__menu__overlay"></div>
    <div class="offcanvas__menu__wrapper">
        <div class="canvas__close">
            <span class="fa fa-times-circle-o"></span>
        </div>
        <div class="offcanvas__logo">
            <a href="#"><img src="/img/logo.png" alt=""></a>
        </div>
        <nav class="offcanvas__menu mobile-menu">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li class="active"><a href="#">Analyzing</a>
                    <ul class="dropdown">
                        <li><a sec:authorize="isAnonymous()" href="/loginForm">Create Board</a></li>
                        <li><a sec:authorize="isAuthenticated()" th:href="@{/boards/board}">Create Board</a></li>
                        <li><a sec:authorize="isAnonymous()" href="/loginForm">Board List</a></li>
                        <li><a sec:authorize="isAuthenticated()" th:href="@{/boards/list}">Board List</a></li>
                    </ul>
                </li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <ul>
                <li><a sec:authorize="isAnonymous()" href="/loginForm"><span class="fa fa-user"></span> Login / SignUp</a></li>
                <li><a sec:authorize="isAuthenticated()" href="/member/logout"><span class="fa fa-user"></span> Logout</a></li>
            </ul>
        </div>
        <div class="offcanvas__info">
            <ul>
                <li><span class="icon_phone"></span> 02-820-0114</li>
                <li><span class="fa fa-envelope"></span> github.com/Kyeong-Won/FPAS</li>
            </ul>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="header__info">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__info-left">
                            <ul>
                                <li><span class="icon_phone"></span> 02-820-0114</li>
                                <li><span class="fa fa-envelope"></span> github.com/Kyeong-Won/FPAS</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__info-right">
                            <ul>
                                <li><a sec:authorize="isAnonymous()" href="/loginForm"><span class="fa fa-user"></span> Login / SignUp</a></li>
                                <li><a sec:authorize="isAuthenticated()" href="/member/logout"><span class="fa fa-user"></span> Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/index"><img src="/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/index">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/pricing">Pricing</a></li>
                            <li class="active"><a href="#">Analyzing</a>
                                <ul class="dropdown">
                                    <li><a sec:authorize="isAnonymous()" href="/loginForm">Create Board</a></li>
                                    <li><a sec:authorize="isAuthenticated()" th:href="@{/boards/board}">Create Board</a></li>
                                    <li><a sec:authorize="isAnonymous()" href="/loginForm">Board List</a></li>
                                    <li><a sec:authorize="isAuthenticated()" th:href="@{/boards/list}">Board List</a></li>
                                </ul>
                            </li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__option">
                        <a href="/index"><span class="fa fa-home"></span> Home</a>
                        <span>Update board</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- board update section-->
    <!-- update toolbar ysu -->
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <div class="section-title normal-title">
                    <h3>Update Board!</h3>
                </div>
            </div>
        </div>

        <div class="row monthly__plans active">
            <form id="palette_form" onsubmit="return false;" style="display: flex; width: 100%">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="board__item">
                        <h4>Change Image</h4>
                        <div class="item__explain">
                            <p>Change Board Image.</p>
                            <p>Click the button below.</p>
                        </div>
<!--                        <div class="object-shape">-->
<!--                            <label for="image"><i class="fa fa-file-upload fa-lg"></i> File Upload</label>-->
<!--                            <input type="file" name="files" id="image" accept="image/*" onchange="setThumbnail(event);"/>-->
<!--                        </div>-->
                        <div class="filebox">
                            <label for="image"><i class="fa fa-file-upload fa-lg"></i> File Upload</label>
                            <input type="file" name="files" id="image" accept="image/*" onchange="setThumbnail(event);"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="board__item">
                        <h4>Place Camera</h4>
                        <div class="item__explain">
                            <p>Place camera icon on board.</p>
                            <p>Click the button below.</p>
                        </div>
                        <div class="object-size">
<!--                            <input type="text" id="camera_name" style="text-align:center; width:100px;" name="camera_name" placeholder="카메라 ID">-->
                            <button type="button" class="upload" id="create_object"><i class="fa fa-video fa-lg"></i> Camera</button>

                        </div>
                        <!--                <button type="button" class="upload" id="create_object"><i class="fa fa-video fa-lg"></i> Camera</button>-->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="board__item">
                        <h4>Save Board</h4>
                        <div class="item__explain">
                            <p>Save your board.</p>
                            <p>Click the button below.</p>
                        </div>
                        <button type="button" class="upload" id="update_board"><i class="far fa-save fa-lg"></i> Update</button>
                        <!--                <button type="button" class="upload" id="save_board"><i class="far fa-save fa-lg"></i> Save</button>-->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="board__item">
                        <h4>Cancel</h4>
                        <div class="item__explain">
                            <p>Cancel Update.</p>
                            <p>Click the button below.</p>
                        </div>
                        <a href="/boards/list" role="button" class="upload"><i class="fa fa-undo-alt fa-lg"></i> Cancel</a>
                        <!--                <button type="button" class="upload" id="reset"><i class="fa fa-undo-alt fa-lg"></i> Reset</button>-->
                    </div>
                </div>
            </form>
        </div>


        <div id="canvas">
            <div class="wrapper">
                <img id = "board_img" style="width:100%; height:670px; z-index:-1; position:absolute;"
                     th:src="${image}">
                <div  th:each="shape : ${shapes}">
                    <div>
                        <img th:src="${shape.src}" th:priority="${shape.priority}" th:id="${shape.id}" th:class="${shape.className}" th:aria-hidden="${shape.aria_hidden}" th:name="${shape.name}"
                             th:style="|z-index: ${shape.zIndex}; width: ${shape.width}; height:${shape.height}; position:${shape.position}; left:${shape.left_}; top:${shape.top}|"></img>
                    </div>
                </div>
            </div>
        </div>
        <p id="board_id" th:text="${boardId}" style="display: none"></p>
        <p id="image_id" th:text="${imageId}" style="display: none"></p>
    </div>
    <script>
        function setThumbnail(event) {
            var reader = new FileReader();
            reader.onload = function(event) {
                var img = document.querySelector("img#board_img");
                img.setAttribute("src", event.target.result);
            };
            reader.readAsDataURL(event.target.files[0]);
            console.log(event.target.files[0]);

            function resize(){
                $( ".ui-widget-content" ).resizable();
            }
        }
    </script>
    <!-- board update section end-->

    <br/><br/><br/><br/><br/>

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="footer__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top-call">
                            <h5>Need Help? Call us</h5>
                            <h2>02-820-0114</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top-auth">
                            <h5>Join Now And Have Free Month Of FPAS!</h5>
                            <a href="/pricing" class="primary-btn sign-up">Pricing</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__text set-bg" data-setbg="/img/footer-bg.png">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer__text-about">
                            <div class="footer__logo">
                                <a href="/index"><img src="/img/logo.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer__text-widget">
                            <ul class="footer__widget-info">
                                <li><span class="fa fa-map-marker"></span> 서울특별시 동작구 상도동 상도로 369</li>
                                <li><span class="fa fa-headphones"></span> github.com/Kyeong-Won/FPAS</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__text-copyright">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
<!--    <script src="/js/jquery-3.3.1.min.js"></script>-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/functions.js" ></script>
    <script src="/js/event_handler.js" ></script>
    <script src="/js/common.js" ></script>
    <script src="/js/update.js" defer></script>
</body>
</html>
