<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>DEERHOST | Create Board</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap"
          rel="stylesheet"/>
    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/elegant-icons.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/slicknav.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://kit.fontawesome.com/7584c36235.js" crossorigin="anonymous"></script>

    <link href="/css/common.css" rel="stylesheet" />
    <link href="/css/paint.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas__menu__overlay"></div>
    <div class="offcanvas__menu__wrapper">
        <div class="canvas__close">
            <span class="fa fa-times-circle-o"></span>
        </div>
        <div class="offcanvas__logo">
            <a href="#"><img src="/img/logo.png" alt=""></a>
        </div>
        <nav class="offcanvas__menu mobile-menu">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li class="active"><a href="#">Analyzing</a>
                    <ul class="dropdown">
                        <li><a sec:authorize="isAnonymous()" href="/loginForm">Create Board</a></li>
                        <li><a sec:authorize="isAuthenticated()" th:href="@{/boards/board}">Create Board</a></li>
                        <li><a sec:authorize="isAnonymous()" href="/loginForm">Board List</a></li>
                        <li><a sec:authorize="isAuthenticated()" th:href="@{/boards/list}">Board List</a></li>
                    </ul>
                </li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <ul>
                <li><a sec:authorize="isAnonymous()" href="/loginForm"><span class="fa fa-user"></span> Login / SignUp</a></li>
                <li><a sec:authorize="isAuthenticated()" href="/member/logout"><span class="fa fa-user"></span> Logout</a></li>
            </ul>
        </div>
        <div class="offcanvas__info">
            <ul>
                <li><span class="icon_phone"></span> 02-820-0114</li>
                <li><span class="fa fa-envelope"></span> github.com/Kyeong-Won/FPAS</li>
            </ul>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="header__info">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__info-left">
                            <ul>
                                <li><span class="icon_phone"></span> 02-820-0114</li>
                                <li><span class="fa fa-envelope"></span> github.com/Kyeong-Won/FPAS</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__info-right">
                            <ul>
                                <li><a sec:authorize="isAnonymous()" href="/loginForm"><span class="fa fa-user"></span> Login / SignUp</a></li>
                                <li><a sec:authorize="isAuthenticated()" href="/member/logout"><span class="fa fa-user"></span> Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/index"><img src="/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/index">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/pricing">Pricing</a></li>
                            <li class="active"><a href="#">Analyzing</a>
                                <ul class="dropdown">
                                    <li><a sec:authorize="isAnonymous()" href="/loginForm">Create Board</a></li>
                                    <li><a sec:authorize="isAuthenticated()" th:href="@{/boards/board}">Create Board</a></li>
                                    <li><a sec:authorize="isAnonymous()" href="/loginForm">Board List</a></li>
                                    <li><a sec:authorize="isAuthenticated()" th:href="@{/boards/list}">Board List</a></li>
                                </ul>
                            </li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__option">
                        <a href="/index"><span class="fa fa-home"></span> Home</a>
                        <span>Board</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- create board section -->
    <br/><br/>

    <p th:text="'도면 이름 : ' + ${title}" style="font-size: 20px; text-align:center" ></p>
    <div id="boardPaint">
        <div id="canvas" >
            <div class="wrapper">
                <img id = "board_img" style="width:100%; height:100%; z-index:-1; position:absolute;"
                th:src="${image}">
                <div  th:each="shape : ${shapes}">
<!--                    <div th:priority="${shape.priority}" th:id="${shape.id}" th:class="${shape.className}" th:style="|z-index: ${shape.zIndex}; width: ${shape.width};-->
<!--               height:${shape.height}; font-size:${shape.fontSize}; left:${shape.left_}; top:${shape.top}|"></div>-->
                    <div>
                        <i th:priority="${shape.priority}" th:id="${shape.id}" th:class="${shape.className}" th:aria-hidden="${shape.aria_hidden}"
                           th:style="|z-index: ${shape.zIndex}; width: ${shape.width}; height:${shape.height}; position:${shape.position}; left:${shape.left_}; top:${shape.top}|"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <br/><br/>
    <p style="font-size: 20px; text-align:center" >분석 결과</p>
    <p align="middle">
        <iframe src="http://localhost:5601/app/dashboards#/view/ae145200-776d-11eb-88e0-6dbd040d5001?embed=true&_g=(filters:!(),refreshInterval:(pause:!f,value:1800000),time:(from:now-7d,to:now))&_a=(description:'%EC%9C%A0%EB%8F%99%EC%9D%B8%EA%B5%AC%20',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),query:(language:kuery,query:''),timeRestore:!f,title:hyungnam_population,viewMode:view)" height="600" width="800"></iframe>
    </p>


    <br/><br/>
    <p style="font-size: 20px; text-align:center" >히트맵</p>


    <!-- Team Section End -->
    <br/><br/><br/><br/><br/>

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="footer__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top-call">
                            <h5>Need Help? Call us</h5>
                            <h2>02-820-0114</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top-auth">
                            <h5>Join Now And Have Free Month Of FPAS</h5>
                            <a href="/pricing" class="primary-btn sign-up">Pricing</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__text set-bg" data-setbg="/img/footer-bg.png">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer__text-about">
                            <div class="footer__logo">
                                <a href="/index"><img src="/img/logo.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer__text-widget">
                            <ul class="footer__widget-info">
                                <li><span class="fa fa-map-marker"></span> 서울특별시 동작구 상도동 상도로 369</li>
                                <li><span class="fa fa-headphones"></span> github.com/Kyeong-Won/FPAS</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__text-copyright">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/camera_popup.js"></script>



</body>
</html>