<!doctype html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Heatmap Test Code</title>
    <script src='http://www.patrick-wied.at/static/heatmapjs/assets/js/heatmap.min.js'></script>
</head>
<body>
<div id='heatMap' style="height: 742px">
    <div id="boardPaint">
        <div id="canvas" >
            <div class="wrapper">
                <img id = "board_img" style="width:100%; height:100%; z-index:-1; position:absolute;"
                     th:src="${image}">

            </div>
        </div>
    </div>
</div>
</body>
<script>
  var heatmapInstance = h337.create({
    container: document.getElementById('heatMap')
  });
  var points = [];
var max = 0;
var width = 840;
var height = 400;
var len = 5;

while (len--) {
  var val = Math.floor(Math.random()*100);
  max = Math.max(max, val);
  var point = {
    x: Math.floor(Math.random()*width),
    y: Math.floor(Math.random()*height),
    value: val
  };
  points.push(point);
}
console.log(points);
// heatmap data format
var data = {
  max: max,
  data: points
};
  heatmapInstance.setData(data);
</script>
</html>